<!DOCTYPE html>
<html ng-app="userProfiles">
<head>
    <meta charset="utf-8">
    <title>mini-userProfiles</title>
    <link rel="stylesheet" href="styles.css"></link>
</head>
<body ng-controller="MainController">

    <h1>{{thisAppIsBroken}}</h1>
    <div ng-repeat="user in users" ng-class="{favorite: user.isFavorite}" class="user-list">
      <button ng-click="toggleFavorite(user.id)" type="button" name="button">Fav ?</button>
        <img ng-src="{{user.avatar}}" alt="" />
      <span>{{user.id}}</span>
      <span>{{user.first_name}}</span>
      <span>{{user.last_name}}</span>
    </div>


     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
     <script src="app.js"></script>
     <script src="controller.js"></script>
     <script src="mainService.js"></script>
</body>
</html>
